
  <div class="commit clearfix">
    <div class="comment_content">
      <p class="comment_name"><span>Commet full name:</span> <strong><%=comment.full_name %></strong></p>
      <p class="comment_body"><span>Commet body: </span><%= comment.body %></p>
      <p class="comment_time"><span>Commet created at: </span><%= time_ago_in_words(comment.created_at) %> ago </p>

        <% if comment.rates.present? %>
         <p class="comment_rate"><span>Commet rates: </span>
           <% (0..comment.rates-1).to_a.each do |rate| %>
              <i class="fa fa-star" aria-hidden="true"></i>
           <% end %>
         </p>
        <% end %>

      <p> <span>Commet if  show: </span><%= comment.show_comment? %></p>
    </div>

    <p class="delete">
      <%= link_to 'Delete', [comment.post, comment],
                  method: :delete,
                  class: "button",
                  data: { confirm: 'Are you sure?' } %>
    </p>
    <p class="edit">
      <%= link_to "Edit Comment", edit_post_comment_path(@post, comment) %>
    </p>
  </div>
