<%= form_for ([@post, @post.comments.build]) do |f| %>

<p>
  <%= f.label :fullname %> </br>
  <%= f.text_field :fullname %>
</p>

<p>
  <%= f.label :tel %> </br>
  <%= f.text_field :tel %>
</p>
<p>
  <%= f.label :body %> </br>
  <%= f.text_area :body %>
</p>

<p>
rate:  <%= f.select :rate, (0..5) %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
