<%= form_for ([@post, @comment.present? ? @comment : @post.comments.build]) do |f| %>
  <p>
    <%= f.label :full_name %> </br>
    <%= f.text_field :full_name %>
  </p>

  <p>
    <%= f.label :tel %> </br>
    <%= f.text_field :tel %>
  </p>

  <p>
    <%= f.label :body %> </br>
    <%= f.text_area :body %>
  </p>

  <p>
      rates:  <%= f.select :rates, (0..5) %>
  </p>

  <p>
      Show comment: <%= f.check_box :show_comment %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
