<%= form_for ([@post, @comment.present? ? @comment : @post.comments.build]) do |f| %>

<p>
  <%= f.label :fullname %> </br>
  <%= f.text_field :fullname %>
</p>

<p>
  <%= f.label :tel %> </br>
  <%= f.text_field :tel %>
</p>
<p>
  <%= f.label :body %> </br>
  <%= f.text_area :body %>
</p>

<p>
    rate:  <%= f.select :rate, (0..5) %>
</p>

<p>
    Show comment: <%= f.check_box :showCom %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
