<div id="post_content">
  <h1 class="title">
    <b><%= t 'post_content.title' %> </b><%= @post.title %>
  </h1>
  <% if @post.photo.present? %>
    <div>
      <%= image_tag @post.photo.url(:large) %>
    </div>
  <% end %>

  <% if @post.avr_rates.present? %>
    <p class="avrRate">
      <b><%= t 'post_content.rate' %> </b><%= @post.avr_rates %>
    </p>
  <% end %>

  <% if @post.email.present? %>
    <p class="email">
      <b><%= t 'post_content.email' %> </b><%= @post.email  %>
    </p>
  <% end %>

  <% if @post.tags.present? %>
    <p class="tags">
      <b><%= t 'post_content.tags' %> </b><%= raw @post.tags.collect { |t| link_to t, tag_path(t) }.join(', ')  %>
    </p>
  <% end %>

  <p class="body">
    <b><%= t 'post_content.body' %>  </b><%= raw @post.body %>
  </p>

  <p class="date">
    submitted <%= time_ago_in_words(@post.created_at)  %> ago
    | <%= link_to 'Edit', edit_post_path(@post) %>
    | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'are you sure?'} %>

  </p>


  <div id="comments">
    <% if @comment.present? && @comment.errors.any? %>
    <div id="error">
      <h2><%= pluralize(@comment.errors.count, "error") %> preventes this comments from saving</h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <h2><%= @post.comments.count %> comments</h2>
    <%= render @post.comments.saved_comments %>

    <div id="new_comments">
      <h3><%= t 'post_content.comment' %> </h3>
      <%= render "comments/form" %>
    </div>

  </div>
</div>
