<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "javascripts/jquery-3.2.1.min" %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen, projection">

  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">
  <div id="logo">
    <%= link_to root_path do %>
       <%= image_tag "logo.svg" %>
       <% end %>
  </div>

  <div id="tags_counter">
    <h3><b>The number of tags:</b></h3>
    <ul id="tag_count">
      <% Post.number_of_tags.each do |key, value| %>
        <li> <%= "#{key} is #{value}"  %></li>
      <% end %>
    </il>
  </div>

  <ul>
    <li class="category">Website</li>
    <li><%= link_to "Blog", root_path %></li>
    <li><%= link_to "about", about_path %></li>
  </ul>

  <ul>
    <li class="category">Social</li>
    <li><a href="gfgdf">Twiter</a></li>
    <li><a href="gfgdf">Twiter</a></li>
    <li><a href="gfgdf">Twiter</a></li>
    <li><a href="gfgdf">Twiter</a></li>
  </ul>

</div>

<div id="main_content">
  <div id="header">
    <div class="buttons">
      <p class="button"><%= link_to " all posts" , posts_path %> </p>
      <div class="button"><%= link_to "new post" , new_post_path %></div>
    </div>
  </div>
</div>

<% flash.each do |name,msg| %>
  <% content_tag(:div, msg, class:"alert") %>

<% end %>

<%= yield %>

</body>
</html>
